[Desktop Entry]
Name=FirefoxDev
Comment=Browse the WWW
X-GNOME-FullName=Firefox DEV Web Browser
Exec=/opt/firefox-dev/firefox %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=firefox-dev.png
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=FirefoxDev
StartupNotify=true
